@model IEnumerable<AppData.Models.BillDetails>

@{
    var cus = @ViewBag.customer;
    ViewData["Title"] = "BillDetail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    String dh0 = string.Empty;
    String dh1 = "Yêu cầu hủy";
    String dh2 = "Chấp nhận hủy";
    String dh3 = "Hủy thành công";
    String dh4 = "Yêu cầu bảo hành";
    String dh5 = "Xác nhận bảo hành";
}

<h1>Chi tiết đơn hàng</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="alert alert-success" role="alert" style="font-size:24px;">
                Sản phẩm
            </div>
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.IdPhoneDetail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Number)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @ViewBag.PhoneNames
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="alert alert-success" role="alert" style="font-size:24px;">
                Thông tin khách hàng
            </div>
            <table class="table">
                <tbody>

                    <tr class="border-top">
                        <td class="pb-3 " style="font-weight: bold;">Tên: </td>
                        <td class="pb-3 pl-5">@cus.Name</td>
                    </tr>
                    <tr class="border-top">
                        <td class="pb-3" style="font-weight: bold;">Địa chỉ:</td>
                        <td class="pb-3 pl-5">@cus.Address</td>
                    </tr>
                    <tr class="border-top">
                        <td class="pb-3" style=" font-weight: bold;">Số điện thoại:</td>
                        <td class="pb-3 pl-5">@cus.Phone</td>
                    </tr>
                    <tr>
                        <td class="pb-3" style=" font-weight: bold;">Phương thức thanh toán: </td>
                        <td>
                            @cus.deliveryPaymentMethod  @if (cus.StatusPayment == 1)
                            {
                                <span class="text-success">Đã thanh toán </span>
                            }
                            else
                            {
                                <span class="text-danger">Chưa thanh toán </span>
                            }
                        </td>

                    </tr>
                    <tr class="border-top">
                        <td class="pb-3" style=" font-weight: bold;">Thành tiền:</td>
                        <td class="pb-3 pl-5"><span class="text-cam font-weight-bold">@cus.TotalMoney.ToString("N0") VND</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>