@model IEnumerable<AppData.Models.Bill>

@{
    ViewData["Title"] = "Danggiaoview";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Đang Giao</h1>
<div class="input-group">
    <div class="form-outline" data-mdb-input-init>
        <input type="search" id="form1" class="form-control" />
        <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
        <i class="fas fa-search"></i>
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Tên Khách Hàng
            </th>
            <th>Mã Hóa Đơn</th>
            <th>
                Ngày Tạo
            </th>
            <th>
                Tình Trạng
            </th>
            <th>Chi tiết</th>
            <th>
                Trạng Thái Thanh Toán
            </th>

            <th>Hành Động  </th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <h2 style="text-align:center"> Hiện đang Không có hóa đơn  </h2>
        }
        else
        {
            @foreach (var item in Model)
            {
                String dh0 = "Chờ xác nhận";
                String dh1 = "Đã xác nhận";
                String dh2 = "Đang giao";
                String dh3 = "Đã giao";
                String dh4 = "Đã hủy";
                
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedTime)
                    </td>
                    <td>
                        @if (item.Status == 2)
                        {
                            <p class="text-success"> @dh2</p>
                        }

                    </td>
                    <td>
                        <a href="@Url.Action("Detail", "Bill", new { id = item.Id })">Xem Chi tiết</a>
                    </td>
                    <td>
                        @item.deliveryPaymentMethod  @if (item.StatusPayment == 1)
                        {
                            <span class="text-success">Đã thanh toán </span>
                        }
                        else
                        {
                            <span class="text-danger">Chưa thanh toán </span>
                        }
                    </td>

                    <td>
                        <a class="btn btn-sm btn-light text-success border" href="@Url.Action("Dagiao", "Bill", new { id = item.Id })"> Giao Thành Công  </a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
