@using PRO219_WebsiteBanDienThoai_FPhone.ViewModel
@model VwProductDetailViewModel;
@{
    ViewData["Title"] = "PhoneDetail";
}

<style>
    .phone-hover:hover {
        background-color: #FFFFCC;
    }

    .selected {
        background-color: #33FF33;
        border-radius: 2px;
    }
</style>

<section class="section product-details__section container">
    <div class="product-detail__container">
        <div class="product-detail__left">
            <div class="details__container--left">
                <div class="product__pictures">

                    @*list ảnh sản phẩm *@
                    <div class="pictures__container">
                        <img class="picture" src="#" id="pic1" />
                    </div>

                </div>
                <div class="product__picture" id="product__picture">
                    <!-- <div class="rect" id="rect"></div> -->
                    <div class="picture__container">
                        <img src="@Model.Image" id="pic"  />
                    </div>
                </div>
                <div class="zoom" id="zoom"></div>
            </div>
            <form action="" id="AddToCart" method="get">
                <div class="product-details__btn">
                    <button type="submit" class="add" name="addToCart">
                        <span>
                            <svg>
                                <use xlink:href="/images/sprite.svg#icon-cart-plus"></use>
                            </svg>
                        </span>
                        ADD TO CART
                    </button>
                </div>
            </form>

            <form action="@Url.Action("Additem", "FavoritePhone", new { id = '1' })" method="get">
                <div class="product-details__btn">
                    <button type="submit" class="add" name="Additem">
                        <span>
                            <svg>
                                <use xlink:href="/images/sprite.svg#icon-cart-plus"></use>
                            </svg>
                        </span>
                        FAVORITE
                    </button>
                </div>
            </form>
        </div>

        <div class="product-detail__right">
            <div class="product-detail__content">
                <h3 id="phoneName"></h3>
                <div class="price">
                    <span id="phonePrice" class="new__price"></span>
                </div>
                <div class="product__review">
                    <div class="rating">
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-star-empty"></use>
                        </svg>
                    </div>
                    <a href="#" class="rating__quatity">3 reviews</a>
                </div>
                <p>
                    @* @item.Description *@
                </p>
                <div class="product__info-container">
                    <ul class="product__info">
                        <li class=" row" id="listPhone">

                        </li>
                        <li>

                            <div class="input-counter">
                                <span>Quantity:</span>
                                <div>
                                    <span class="minus-btn">
                                        <svg>
                                            <use xlink:href="/images/sprite.svg#icon-minus"></use>
                                        </svg>
                                    </span>
                                    <input type="text" min="1" value="1" max="10" class="counter-btn">
                                    <span class="plus-btn">
                                        <svg>
                                            <use xlink:href="/images/sprite.svg#icon-plus"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <span>Brand:</span>
                            @* <a href="#">@item.Brand</a> *@
                        </li>
                        <li>
                            <span>Product Type:</span>
                            <a id="colorName" href="#">Mau den</a>
                        </li>
                        <li>
                            <span>Availability:</span>
                            <a href="#" class="in-stock">In Stock (7 Items)</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var id = window.location.href.split("/")[5];
        console.log(id);
        if (id == null) {
            alert("Không tìm thấy sản phẩm");
        }
        loadPhoneDetails(id);
    });

    function loadPhoneDetails(id) {
        let api = "/PhoneDetail/GetDetailPhones/" + id;
        fetch(api)
            .then(response => response.json())
            .then(response => {
                console.log(response);
                let html = '';
                if (response.success) {
                    localStorage.setItem("phoneDetails", JSON.stringify(response));
                    response.items.forEach(item => {
                        html += `
                                <a class="btn col-4 border rounded phone-hover mt-2"
                                   onclick="loadPhoneDetail('${item.idPhoneDetail}', this)"> <!-- Pass 'this' to the function -->
                                    <div>
                                        <strong>${item.romName} - ${item.ramName}</strong>
                                    </div>
                                    <p>
                                        ${item.colorName}
                                    </p>
                                    <span >${item.price} đ</span>
                                </a>
                            `;
                    });
                    document.querySelector("#listPhone").innerHTML = html;
                    loadPhoneDetail(response.items[0].idPhoneDetail, document.querySelector("#listPhone a")); // Pass the first button
                }
            })
            .catch(error => console.log(error));
    }

    function loadPhoneDetail(id, button) {
        let phoneDetails = JSON.parse(localStorage.getItem("phoneDetails"));
        if (phoneDetails == null) {
            alert("Không tìm thấy sản phẩm");
        }
        let phone = phoneDetails.items.find(x => x.idPhoneDetail == id);
        document.getElementById("phoneName").innerHTML = phone.phoneName;
        document.getElementById("phonePrice").innerHTML = phone.price + " đ";
        document.getElementById("colorName").innerHTML = phone.colorName;

        localStorage.setItem("idPhoneDetail", phone.idPhoneDetail);

        // Remove "selected" class from all buttons
        document.querySelectorAll("#listPhone a").forEach(btn => {
            btn.classList.remove("selected");
        });

        // Add the "selected" class to the clicked button
        button.classList.add("selected");

        document.getElementById("AddToCart").action = "@Url.Action("AddToCard", "Accounts")/" + phone.idPhoneDetail;
    }
</script>

